NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL= https://xuigaxpjhuaamvbfddmk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1aWdheHBqaHVhYW12YmZkZG1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyMjYzMTQsImV4cCI6MjA5NzgwMjMxNH0.IgXtxeNgfb5jrS1bAH8_DDUqOlwC4ataWWw5_8qHguU
